@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

:root {
  --font-base-size: 14px;
}

$link: teal;
$size-normal: var(--font-base-size);
$body-font-size: var(--font-base-size);

$size-1: 2.5rem;
$size-2: 2rem;
$size-3: 1.75rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$background-color: white;
$navbar-box-shadow-size: 0 0 8px 0;
$navbar-box-shadow-color: gray;
$navbar-height: 4rem;
$navbar-item-hover-color: black;
$navbar-item-active-color: teal;
$table-row-active-color: black;
$table-row-active-background-color: #d0e0f0;
$modal-background-background-color: rgba(0.1, 0.1, 0.1, 0.5);


// should only import what is needed
@import "../node_modules/bulma/bulma.sass";